body{
    background-color: #534f55;
    color: #fff;
    max-width: 1440px;
    }
    
    
    label{
      display: block;
      margin-bottom: 1.2rem;
     position: relative;
     left: 4rem;
     
    }
    
    input{
      background-color: #534f55;
     
    }
    
    #Enviar{
      background-color: #984ebd;
      padding: 0.2rem 10rem;
      border-radius: 2rem;
    }
    #Email{
      background-color: #534f55;
      border: 3px inset #fff;
      padding-left:3rem;
      padding-right:3rem;
    }
    #Contraseña{
      background-color: #534f55;
      border: 3px inset #fff;
      padding-left:3rem;
      padding-right:3rem;
    }
    #button1{
      background-color: #984ebd;
      padding: 0.2rem 4rem;
     
    
    }
    #button2{
      background-color: #9a919e;
      padding: 0.2rem 4rem;
      
    
    }
    h3{
      position: relative;
      left: 9rem;
    }
    #Sesión{
      position: absolute;
      left: 42rem;
      top: 6rem;
    }
    #Imagenfondo{
      z-index: -1;
      position: absolute;
    top:0rem;
      bottom: 20rem;
      right: 33rem;
      
    }
    img{
      height: 310%;
    
    }
    a{
      text-decoration: none;
      color: #fff;
    }
    span.row {
      display: inline-block;
      width: 100px;
      height: 100px;
      padding: 10px;
      margin:10px;
          
      background-color: #534f55; 
      
    }
    .row  #Badminton{
      width: 150px;
      height: 130px;
      position: relative;
      right: 30px;
      bottom:34px;
      border-radius: 20px;
    }
    .row #Texto{
      width: 150px;
      height: 190px;
      position: relative;
      right: 10px;
      bottom:6px;
      top: 15px;
      border-radius: 20px;
    }
    .row #futbol{
      width: 150px;
      height: 130px;
      position: relative;
      right: 28px;    
      top: -52px;
      border-radius: 20px;
      margin-bottom: 0%;
    }
    #deportes{
      position: relative;
      top: -10px  
    }