body {
    max-width: 100%;
    max-height: 100%;
    
   
}

.content {
    background: rgba(35, 26, 76, 1);
    background: -moz-linear-gradient( left, rgba(35, 26, 76, 1) 0%, rgba(40, 27, 80, 1) 0%, rgba(42, 17, 54, 1) 0%, rgba(39, 37, 38, 1) 100%);
    background: -webkit-gradient( left top, right top, color-stop(0%, rgba(35, 26, 76, 1)), color-stop(0%, rgba(40, 27, 80, 1)), color-stop(0%, rgba(42, 17, 54, 1)), color-stop(100%, rgba(39, 37, 38, 1)));
    background: -webkit-linear-gradient( left, rgba(35, 26, 76, 1) 0%, rgba(40, 27, 80, 1) 0%, rgba(42, 17, 54, 1) 0%, rgba(39, 37, 38, 1) 100%);
    background: -o-linear-gradient( left, rgba(35, 26, 76, 1) 0%, rgba(40, 27, 80, 1) 0%, rgba(42, 17, 54, 1) 0%, rgba(39, 37, 38, 1) 100%);
    background: -ms-linear-gradient( left, rgba(35, 26, 76, 1) 0%, rgba(40, 27, 80, 1) 0%, rgba(42, 17, 54, 1) 0%, rgba(39, 37, 38, 1) 100%);
    background: linear-gradient( to right, rgba(35, 26, 76, 1) 0%, rgba(40, 27, 80, 1) 0%, rgba(42, 17, 54, 1) 0%, rgba(39, 37, 38, 1) 100%);
    color: hsl(0, 0%, 100%);
    width: 1366px;
    max-width: 1366px;
    height: 625px;
    margin: 0 auto;
}

.btn-Ingreso {
    background: rgba(156, 156, 156, 1);
    background: -moz-linear-gradient( left, rgba(156, 156, 156, 1) 0%, rgba(176, 176, 176, 1) 0%, rgba(150, 150, 150, 1) 100%);
    background: -webkit-gradient( left top, right top, color-stop(0%, rgba(156, 156, 156, 1)), color-stop(0%, rgba(176, 176, 176, 1)), color-stop(100%, rgba(150, 150, 150, 1)));
    background: -webkit-linear-gradient( left, rgba(156, 156, 156, 1) 0%, rgba(176, 176, 176, 1) 0%, rgba(150, 150, 150, 1) 100%);
    background: -o-linear-gradient( left, rgba(156, 156, 156, 1) 0%, rgba(176, 176, 176, 1) 0%, rgba(150, 150, 150, 1) 100%);
    background: -ms-linear-gradient( left, rgba(156, 156, 156, 1) 0%, rgba(176, 176, 176, 1) 0%, rgba(150, 150, 150, 1) 100%);
    background: linear-gradient( to right, rgba(156, 156, 156, 1) 0%, rgba(176, 176, 176, 1) 0%, rgba(150, 150, 150, 1) 100%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
}

.btn-Registro {
    background-color: rgb(123, 106, 138);
    text-align: center;
    padding-left: 9%;
    padding-right: 9%;
    color: #ffffff;
}

#sesión input {
    width: 55%;
    margin-bottom: -2%;
    height: 2.5rem;
}

#sesión .btn-submit {
    background-color: rgb(123, 106, 138);
    color: #ffffff;
    margin-top: 15%;
    text-align: center;
    padding-left: 23%;
    padding-right: 23%;
    margin-left: 0.2%;
}

#sesión h2 {
    margin-left: 13%;
    margin-top: 8%;
}

#sesión {
    position: relative;
    left: 58%;
    top: 13%;
    bottom:3%;
    width:565px;
    margin-right: 50%;
    
}

#ImgLogin {
    width: 47%;
    height: 105%;
    position: absolute;
    bottom: 0%;
    margin-right: 9%;
   
}


/*Para celular*/

@media (max-width: 768px) {
    
    .btn-Ingreso {
        background: rgba(156, 156, 156, 1);
        background: -moz-linear-gradient( left, rgba(156, 156, 156, 1) 0%, rgba(176, 176, 176, 1) 0%, rgba(150, 150, 150, 1) 100%);
        background: -webkit-gradient( left top, right top, color-stop(0%, rgba(156, 156, 156, 1)), color-stop(0%, rgba(176, 176, 176, 1)), color-stop(100%, rgba(150, 150, 150, 1)));
        background: -webkit-linear-gradient( left, rgba(156, 156, 156, 1) 0%, rgba(176, 176, 176, 1) 0%, rgba(150, 150, 150, 1) 100%);
        background: -o-linear-gradient( left, rgba(156, 156, 156, 1) 0%, rgba(176, 176, 176, 1) 0%, rgba(150, 150, 150, 1) 100%);
        background: -ms-linear-gradient( left, rgba(156, 156, 156, 1) 0%, rgba(176, 176, 176, 1) 0%, rgba(150, 150, 150, 1) 100%);
        background: linear-gradient( to right, rgba(156, 156, 156, 1) 0%, rgba(176, 176, 176, 1) 0%, rgba(150, 150, 150, 1) 100%);
        color: hsl(0, 0%, 100%);
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn-Registro {
        background-color: rgb(123, 106, 138);
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        color: #ffffff;
    }
    #sesión input {
        width: 30%;
        margin-bottom: -1.2%;
    }
    #sesión .btn-submit {
        background-color: rgb(123, 106, 138);
        color: #ffffff;
        margin-top: 8%;
        text-align: center;
        padding-left: 13%;
        padding-right: 13%;
        margin-left: 0.2%;
    }
    #sesión h2 {
        margin-left: 8%;
        margin-top: 3%;
    }
    #sesión {
        position: relative;
        left: 60%;
        top: 8%;
    }
    #ImgLogin {
        width: 2000px;
        height: 90%;
        position: relative;
        bottom: 0.2%;
        margin-right: 120%;
    }
}